.footer-section {
  display: flex;
  justify-content: space-between;
  margin-top: 134px;
  margin-bottom: 92px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.social-icon {
  padding-top: 23px;
  padding-right: 11px;
}

.footer-text {
  padding-top: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--fw-regular);
}
