.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 28px;
}

.header-logo {
  display: flex;
  gap: 15px;
  text-decoration: none;
  font-weight: var(--fw-bold);
  padding-top: 10px;
}

.logo-text {
  font-size: 30px;
  padding-top: 5px;
}

.header-navbar {
  display: flex;
  gap: 32px;
  padding-top: 19px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}

.nav-link {
  text-decoration: none;
  font-weight: var(--fw-regular);
}

.nav-link:hover {
  font-weight: var(--fw-semibold);
}

.nav-button {
  gap: 10px;
  padding: 10px 23px;
  font-weight: var(--fw-semibold);
}
