.btn {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--fw-semibold);
  padding: 10px 25px;
  text-decoration: none;
  flex-shrink: 0;
  border-radius: 4px;
}

.btn--secondary {
  margin-right: 32px;
  border: 1px solid #bcd0e5;
}

.btn--primary {
  background: #02897a;
}
