.card {
  width: 245px;
  height: 178px;
  margin-left: 47.5px;
}
.card--border {
  width: 51.142px;
  height: 50px;
  border-radius: 19px;
}
.card img {
  align-items: center;
}
.card--item {
}
.card--desc {
}
