.card {
  border-radius: 8px;
  background: var(--primary-color);
  color: #22343d;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  width: 326px;
  flex-shrink: 0;
}

.card:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.card:hover .integer,
.card:hover .currency {
  color: var(--primary-color);
}

.card:hover .btn,
.card:hover .btn-primary {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.card-headline {
  text-align: center;
  font-family: var(--primary-font);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--fw-bold);
  line-height: 80px;
}

.card-content {
  text-align: center;
  font-family: var(--primary-font);
  font-size: var(--font-size-sm);
  font-weight: var(--fw-regular);
  line-height: 20px;
}

.price-wrapper {
  font-family: var(--primary-font);
  display: flex;
  padding-left: 71px;
  padding-top: 30px;
}

.price-suffix {
  padding-left: 8px;
  padding-top: 30px;
}

.card-desc {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.2px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card-button {
  font-family: Montserrat;
  color: var(--primary-color);
  font-size: var(--font-size-md);
  font-weight: var(--fw-semibold);
  padding: 12px 19px;
  border-radius: 8px;
}
