/*-----------------------------------------*\
  #TYPOGRAPHY ELEMENT
\*-----------------------------------------*/
a {
  text-decoration: none;
}
a:hover {
  font-weight: var(--fw-semibold);
}
h1 {
  font-size: 40px;
  font-weight: var(--fw-bold);
  line-height: 60px;
}
h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--fw-bold);
}
h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--fw-semibold);
}
h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--fw-semibold);
}

/*-----------------------------------------*\
  #TEXT CLASSES
\*-----------------------------------------*/
.text {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

/*-----------------------------------------*\
  #SET FONT FAMILY
\*-----------------------------------------*/

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Medium.woff2") format("woff2"),
    url("../../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
