:root {
  --primary-font: "Poppins";
  --secondary-font: "Montserrat";
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
  --primary-color: #fff;
  --secondary-color: #02897a;
  --font-small: 16px;
  --font-large: 40px;
}
body {
  background: #1f2e35;
}